{% extends "base.html" %}

{% block content %}

    {% if form.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            Неверный логин или пароль
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    {% endif %}

    <form method="post" action="{% url 'login' %}" >
        {% csrf_token %}
        <div class="form-group">
            <label>Почта:</label>
            {{ form.username }}
        </div>
        <div class="form-group">
            <label>Пароль:</label>
            {{ form.password }}
        </div>
        <button type="submit" class="btn btn-primary button-login">Войти</button>

    </form>
{% endblock %}
